@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;

    height: 100hv;
    width: 100vw;


}

main {


    height: 100vh;

    position: relative;
}

section#telefone {
    background: url(../imagens/frame-iphone.png) no-repeat;
/*  */
    height: 627px;
    width: 311px;
/*  */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 23px;
    width: 266px;
    height: 471px;
    border-radius: 3px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid rgb(211, 211, 211);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform .2s, border .5s;
}

section#HC {
    display: inline-block;

    position: relative;
    transform: translate(0%, 200%);
    left: 40%;
    top: -1%;

    background-color: rgba(0, 0, 0, 0.233);

    width: 80px;

    text-align: center;
}

section#HC img{
    width: 30px;
    height: 30px;


}